auto-save-list/
elpa/
var/
custom.el
*~
\#*\#
straight/
tree-sitter/
share
*
!early-init.elbak
!early-init.el
!init.el
!init.elbak
!init-builtin-mini.el
!init-package.el
!tmp.el
!test.el
!temp/*
!temp/**
!lib/
!lib/*/
!lib/*
!lib/**/*
!user-lisp/
!user-lisp/**
*.elc
.*